extends layout.jade

block content

  .navbar
    .container-fluid
      // Brand and toggle get grouped for better mobile display
      .navbar-header
        a.navbar-brand(href='/') Brand
      .collapse.navbar-collapse
        .btn-group
          a.btn.btn-default.navbar-btn(data-bind="click:add_view")
            i.glyphicon.glyphicon-plus
            | add view


  .container-fluid
    +ko("foreach : log_views")
      .row
        .col-xs-4
          input.form-control(type="text",data-bind="value : name")
        .col-xs-8
          .input-group
            input.form-control(type="text",data-bind="value : pathname")
            .input-group-btn
              span.btn.btn-default(data-bind="click: function(){ watching(!watching()) }")
                i.glyphicon(data-bind="css : {\
                                                  'glyphicon-play' : !watching(),\
                                                  'glyphicon-stop' : watching(),\
                                              }")
              span.btn.btn-default(data-bind="click: $parent.remove_view")
                i.glyphicon.glyphicon-remove
      p
      .row
        .col-xs-12
          pre(data-bind="log : log")

      hr

append js
  script.
    var views = !{JSON.stringify(views) || []};
  script(src="/javascripts/app.js")
