extends layout.jade

block content
  style.
    body{
      background-color: #ecf0f5;
    }
    .log_container pre{
      max-height: 400px;
    }
    .log_container .drag-handle{
      height: 12px;
      margin-top:-2px;
      margin-bottom:-2px;
      text-align: center;
      cursor: ns-resize;
      color:#ddd;
    }
    .log_container .drag-handle:hover{
      background-color: #ddd;
      color:#fff;
    }
    .log_container .drag-handle .glyphicon{
      line-height: 5px;
      top:-2px;
    }
    .highlight{
      color:red;
      background-color: yellow;
    }
    .keywords-row{
    
    }
    .keywords-row h4{
      margin:0;
    }
    .keywords-row .form-control{
      height:22px;
      padding-top:0;
      padding-bottom:0;
    }
    .card{
      border-top: 2px solid #00a65a;
      margin-bottom:10px;
      border-radius: 4px;
      background-color: #fff;
      box-shadow:  0 0 3px #eee;
      padding: 10px;
    }
    .card-title{
      color: #444;
      margin-bottom: 10px;
    }
    .card h3, .card .h3{
      margin-top : 0px;
    }
  .navbar
    .container-fluid
      // Brand and toggle get grouped for better mobile display
      .navbar-header
        a.navbar-brand(href='#') log tailer
      .collapse.navbar-collapse
        .btn-group
          a.btn.btn-default.navbar-btn(data-bind="click:add_view")
            i.glyphicon.glyphicon-plus
            | add view


  .container-fluid(data-bind="foreach : log_views")
    .card
      .card-title
        .row(data-bind="if : editing")
          .col-xs-12
            .row
              .col-xs-4
                input.form-control(type="text",data-bind="value : name", placeholder="日志名称")
              .col-xs-8
                .input-group
                  input.form-control(type="text",data-bind="value : pathname", placeholder="日志路径")
                  .input-group-btn
                    span.btn.btn-default(data-bind="click: function(){ editing(!editing()) }")
                      i.glyphicon.glyphicon-ok
            p
            .row.keywords-row
              .col-xs-12
                h4.pull-left
                  | 关键字 : 
                  +ko("foreach : keywords")
                    span.btn.btn-primary.btn-xs
                      +ko("text:$data")
                      | 
                      i.glyphicon.glyphicon-remove(data-bind="click: $parent.remove_keywork")
                    |  
                .col-xs-3
                  .input-group
                    input.form-control(data-bind="value:keyword_to_add", placeholder="添加高亮关键字")
                    .input-group-btn
                      span.btn.btn-default.btn-xs(data-bind="click:add_keyword")
                        .glyphicon.glyphicon-plus
        .row(data-bind="ifnot : editing")
          .col-xs-12
            h3.pull-left
              +ko("text : name")
              span.h4 &nbsp;&nbsp;path : 
              i.h4(data-bind="text : pathname")

            | &nbsp;&nbsp;

            +ko("foreach : keywords")
              span.btn.btn-primary.btn-xs
                +ko("text:$data")
                | 
                i.glyphicon.glyphicon-remove(data-bind="click: $parent.remove_keywork")
              |  

          .col-xs-12


            .input-group
              .input-group-btn
                span.btn.btn-xs.btn-default(data-bind="click: function(){ watching(!watching()) }")
                  i.glyphicon(data-bind="css : {\
                                                    'glyphicon-play' : !watching(),\
                                                    'glyphicon-stop' : watching(),\
                                                }")

                span.btn.btn-xs.btn-default(data-bind="click: function(){ editing(!editing()) }")
                  i.glyphicon.glyphicon-edit


                span.btn.btn-xs.btn-default(data-bind="click: clean")
                  i.glyphicon.glyphicon-trash

                span.btn.btn-xs.btn-default(data-bind="click: $parent.remove_view")
                  i.glyphicon.glyphicon-remove

      +ko("if:watching")
        p
        .row
          .col-xs-12
            .log_container(data-bind="log : log")
              pre
              .drag-handle
                i.glyphicon.glyphicon-minus
                i.glyphicon.glyphicon-minus
                i.glyphicon.glyphicon-minus

append js
  script.
    var views = !{JSON.stringify(views) || []};
  script(src="javascripts/app.js")
